

@media(max-width: 1100px){
    .hero-movil {
        grid-area:hero;
        display:flex;
    }

    .hero-movil .wrapper {
        width: 100vw;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        background-color: red;
    }

    .hero-movil .wrapper .detail-info {
        width: 100vw;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 4rem;
        background-color: yellow;
        position: relative;
    }

    .hero-movil .wrapper .detail-info .info {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80vw;
        margin:0 auto;
        background-color: green;
    }
    
    .hero-movil .wrapper .detail-info .info h1 {
        font-family: var(--Roboto);
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 70px;
        letter-spacing: 0.1em;
        width: 80%;
    }

    .hero-movil .wrapper .detail-info .info p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: var(--gray);
        width: 90%;
    }

    /*********************************
        Live Info
    **********************************/

    .hero-movil .wrapper .detail-info .info .live-info {
        display:flex;
        align-items: center;
        gap: 1rem;
       
    }

    .hero-movil .wrapper .detail-info .info .live-info time {
        border-radius: 50px;
        border: 1px solid var(--grayD9);
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;

        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.1em;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item {
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item  p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        display:block;
        width:auto;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img {
        height: 30px;
        width: 30px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--grayD9);
        font-size: 20px;
        padding:0.5rem;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img.demo {
        border: none;
        position: relative;
        height: auto;
        width: auto;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img.demo .live-demo {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: var(--red);
        position: absolute;
        right:0;
    }

    /*********************************
        Main Technologies
    **********************************/
    .hero-movil .wrapper .detail-info .main-technologies {
        margin-top: 1.5rem;
        width: 45%;
        height: 60px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: background-color 2s ease-in-out;
        position: relative;
    }

    .hero-movil .wrapper .detail-info .main-technologies {
        background-color: white;
        color: black;
    }
    
    .hero-movil .wrapper .detail-info .main-technologies {
        background-color: black;
        color: white;
    }
    
    .hero-movil .wrapper .detail-info .main-technologies .title {
        width: 250px;
    }
    
    .hero-movil .wrapper .detail-info .main-technologies .title h2 {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 68px;
    }

    /***************************
        Main Technologies -Icons
    ****************************/
     .hero-movil .wrapper .detail-info .main-technologies .technologies {
        position:absolute;
        bottom: 0px;
        right: 14px;
        display:flex;
        justify-content: flex-end;
    }

     .hero-movil .wrapper .detail-info .main-technologies .technologies .technologie {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        position: absolute;
        top: -45px !important;
        border: 3px solid var(--dark0F);
        overflow: hidden;
        
    }

     .hero-movil .wrapper .detail-info .main-technologies .technologies .technologie img {
        object-fit: contain;
        object-position: center;
        padding: 0.3rem;
        width: 100%;
        height: 100%;
    }

     .hero-movil .wrapper .detail-info .main-technologies .technologies .technologie.more {
        background-color: var(--whiteF5) !important;
        color: black !important;
    }
}