

@media(max-width: 1100px){

    .hero-movil {
        grid-area:hero;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero-movil .wrapper {
        width: 100vw;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index:4;
    }

    .hero-movil .wrapper .detail-info {
        width: 100vw;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 4rem;

        position: relative;
    }

    .hero-movil .wrapper .detail-info .info {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80vw;
        margin:0 auto;
       
    }
    
    .hero-movil .wrapper .detail-info .info h1 {
        font-family: var(--Roboto);
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 55px;
        letter-spacing: 0.1em;
        width: 70%;
        margin-bottom: 1rem;
    }

    .hero-movil .wrapper .detail-info .info p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.1em;
        width: 70%;
    }

    .hero-movil.light .wrapper .detail-info .info p {
        color: var(--gray);
    }
    
    .hero-movil.dark .wrapper .detail-info .info p {
        color: var(--whiteF5);
    }

    /*********************************
        Live Info
    **********************************/

    .hero-movil .wrapper .detail-info .info .live-info {
        display:flex;
        align-items: center;
        gap: 1rem;
       
    }

    .hero-movil .wrapper .detail-info .info .live-info time {
        border-radius: 50px;
        border: 1px solid var(--grayD9);
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;

        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.1em;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item {
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item  p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        display:block;
        width:auto;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img {
        height: 30px;
        width: 30px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--grayD9);
        font-size: 20px;
        padding:0.5rem;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img.demo {
        border: none;
        position: relative;
        height: auto;
        width: auto;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img.demo .live-demo {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: var(--red);
        position: absolute;
        right:0;
    }

    /*********************************
        Main Technologies
    **********************************/
    .hero-movil .wrapper .detail-info .main-technologies {
        margin-top: 1.5rem;
        width: 45%;
        height: 60px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: background-color 2s ease-in-out;
        position: relative;
    }

    .hero-movil.dark .wrapper .detail-info .main-technologies {
        background-color: white;
        color: black;
    }
    
    .hero-movil.light .wrapper .detail-info .main-technologies {
        background-color: black;
        color: white;
    }
    
    .hero-movil .wrapper .detail-info .main-technologies .title {
        width: 78%;
    }
    
    .hero-movil .wrapper .detail-info .main-technologies .title h2 {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 68px;
    }

    /***************************
        Main Technologies -Icons
    ****************************/
     .hero-movil .wrapper .detail-info .main-technologies .technologies {
        position:absolute;
        bottom: 0px;
        right: 14px;
        display:flex;
        justify-content: flex-end;
    }

     .hero-movil .wrapper .detail-info .main-technologies .technologies .technologie {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        position: absolute;
        top: -45px !important;
        border: 3px solid var(--dark0F);
        overflow: hidden;
        
    }

     .hero-movil .wrapper .detail-info .main-technologies .technologies .technologie img {
        object-fit: contain;
        object-position: center;
        padding: 0.2rem;
        width: 100%;
        height: 100%;
    }

     .hero-movil .wrapper .detail-info .main-technologies .technologies .technologie.more {
        background-color: var(--whiteF5) !important;
        color: black !important;
    }

    /***************************
        Galery
    ****************************/
    .hero-movil .wrapper  .detail-galery {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 3rem 0;
        overflow: visible;
    }

    /***************************
        Wave
    ****************************/
    .project-detail-page .hero-movil .project-detail-hero-wave {
        width: 100%;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 
            0px
            100px
        ;
        grid-template-areas: 
            "blank_space"
            "featured_project_wave"
        ;
        z-index: 1;
        pointer-events: none;
    }

    .project-detail-page .hero-movil .project-detail-hero-wave .t-wave {
        grid-area: featured_project_wave;
        display:flex;
        align-items: flex-end;
        z-index: 2;
    }

    .project-detail-page .hero-movil .project-detail-hero-wave .t-wave > * {
        width: 100%;
    }

    .project-detail-page .hero-movil .project-detail-hero-wave .t-space {
        grid-area: blank_space;
        background-color: transparent;
    }


}


@media(max-width: 720px){

    .hero-movil .wrapper .detail-info .info {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 90vw;
        margin:0 auto;
    }

    .hero-movil .wrapper .detail-info .info h1 {
        font-family: var(--Roboto);
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        letter-spacing: 0.1em;
        width: 80%;
        margin-bottom: 1rem;
    }

    .hero-movil .wrapper .detail-info .info p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: var(--gray);
        width: 70%;
    }

    /*********************************
        Main Technologies
    **********************************/

    .hero-movil .wrapper .detail-info .main-technologies {
        margin-top: 1.5rem;
        width: 65%;
        height: 60px;
    }

    .hero-movil .wrapper .detail-info .main-technologies .title {
        width: 85%;
    }

    .hero-movil .wrapper .detail-info .main-technologies .title h2 {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 68px;
    }

    .hero-movil .wrapper .detail-info .main-technologies .technologies .technologie {
        width: 28px;
        height: 28px;
    }

}

@media(max-width: 515px){ 
    .hero-movil .wrapper {
        width: 100vw;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        
    }

    .hero-movil .wrapper .detail-info {
        width: 100vw;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start !important;
        padding-top: 0rem;

        position: relative;
    }

    
    .hero-movil .wrapper .detail-info .info {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90vw;
        margin:0 auto;

    }
    
    .hero-movil .wrapper .detail-info .info h1 {
        font-family: var(--Roboto);
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.1em;
        width: 90%;
        margin-bottom: 0.7rem;
    }

    .hero-movil .wrapper .detail-info .info p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        color: var(--gray);
        width: 74%;
      
    }

    /*********************************
        Live Info
    **********************************/

    .hero-movil .wrapper .detail-info .info .live-info {
        display:flex;
        align-items: center;
        gap: 0.5rem;
        
    }

    .hero-movil .wrapper .detail-info .info .live-info time {
        border-radius: 50px;
        border: 1px solid var(--grayD9);
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;

        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 0px;
        letter-spacing: 0.1em;
        
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item {
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item  p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.1em;
        display:block;
        width:auto;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img {
        height: 24px;
        width: 24px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--grayD9);
        font-size: 16px;
        padding:0.5rem;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img.demo {
        border: none;
        position: relative;
        height: auto;
        width: auto;
    }

    .hero-movil .wrapper .detail-info .info .live-info .live-item .info-img.demo .live-demo {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: var(--red);
        position: absolute;
        right:0;
    }


     /*********************************
        Main Technologies
    **********************************/

    .hero-movil .wrapper .detail-info .main-technologies {
        margin-top: 1.5rem;
        width: 80%;
        height: 50px;
       
    }

    .hero-movil .wrapper .detail-info .main-technologies .technologies .technologie {
        width: 28px;
        height: 28px;
        background-color: white;
        border-radius: 50px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        position: absolute;
        top: -38px !important;
        border: 3px solid var(--dark0F);
        overflow: hidden;
        
    }

}

@media(max-width: 370px){ 
    .hero-movil .wrapper .detail-info .info h1 {
        font-family: var(--Roboto);
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.1em;
        width: 100%;
        margin-bottom: 0.7rem;
    }
}