


.project-card {
    width: 32%;
    height: 220px;
    border-radius: 35px;
    position: relative;
    background-color: inherit;
    cursor: pointer;

}

.project-card.light {
    box-shadow: var(--shadow);
}

.project-card.dark {
    box-shadow: var(--shadow-bright-low);
}

.project-card:hover {
    opacity: 1;
}

.project-card img {
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin: 0 auto !important;
    display:block !important;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.project-card .mask {
    top:0;
    right:0;
    bottom:0;
    margin:0 auto !important;
    z-index:2;
    height: 100%;
    width: 100%;
    border-radius: 35px;
    background: linear-gradient(180deg, rgba(254, 249, 249, 0) 0%, rgba(134, 131, 131, 0.614583) 39.58%, #1F2937 100%);
    padding: 1rem;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: background-color 1s ease-in-out;
}

.project-card:hover .mask {
    background: linear-gradient(180deg, rgba(254, 249, 249, 0) 0%, #1F2937 100%);
    background-color: #1F2937 !important;
}

.project-card .mask .info {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.project-card .mask .info .title {
    color: white;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.1em;
    width: 75%;
    text-shadow: var(--text-shadow);
    margin-bottom: 0.5rem;
}

.project-card .mask .info .date {
    width: 58%;
    color:white;
    padding: 0.3rem;
    border-radius: 50px;
    background-color: var(--dark11);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.2rem;
    font-family: var(--Roboto);
    box-shadow: var(--shadow);
    transition: background-color 500ms ease-in-out;
}

.project-card:hover .mask .info .date {
    background-color: white;
    color: var(--dark11);
    font-weight: 600;
}

.project-card .mask .info .description {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1rem;
    font-family: var(--Nunito);
    width: 85%;
    display:grid;
    grid-template-rows: 0fr;    
    transition: grid-template-rows 600ms ease-in, padding 300ms ease-in;
    text-shadow: var(--text-shadow);
}

.project-card .mask .info .description > div {
    overflow: hidden;
}

.project-card:hover .mask .info .description {
    grid-template-rows: 1fr;
    padding: 1rem 0rem;
}


.project-card .mask .technologies {
    position:absolute;
    bottom: 10px;
    right: 15px;
    display:flex;
    justify-content: flex-end;
}

.project-card .mask .technologies .technologie {
    width: 38px;
    height: 38px;
    background-color: white;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    top: -35px !important;
    border: 3px solid var(--dark1F2);
    box-shadow: var(--shadow-bright);
}

.project-card .mask .technologies .technologie img {
    object-fit: cover;
    object-position: center;
    padding: 0.1rem;
}

.project-card .mask .technologies .technologie.more {
    background-color: var(--pure);
    color: var(--dark37) !important;
}