.project-card-vertical{
    /* width: 300px;
    height: 400px; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
    transition: transform 500ms ease-in-out;

}


/*************************
    Image
*************************/
.project-card-vertical .img_content {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.light .project-card-vertical .img_content {
    filter: drop-shadow(var(--shadow)) !important;
}

.dark .project-card-vertical .img_content {
    filter: drop-shadow(var(--shadow-bright-sm)) !important;
}

.project-card-vertical .img_content img {
    width: 100%;
    height: 100%;
    background-color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);
    object-fit: cover;
    object-position: center;
}


/***************************
INFO
**************************/
.project-card-vertical .project-content {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    margin: -32px 0 0 0;
    width: 100%;
    height: 60%;
}

.light .project-card-vertical .project-content {
    filter: drop-shadow(var(--shadow)) !important;
}

.dark .project-card-vertical .project-content {
    filter: drop-shadow(var(--shadow-lg)) !important;
}

.project-card-vertical .project-content .info {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 0 1rem 1rem;

    clip-path: polygon(0% 0%, 100% 18%, 100% 100%, 0% 100%);
    position: relative;
}

.light .project-card-vertical .project-content .info {
    background-color: var(--pure);
}

.dark .project-card-vertical .project-content .info {
    background-color: var(--dark0F);
}

.project-card-vertical .project-content .info h1 {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    width: 72%;
 
}

.project-card-vertical .project-content .info time {
    border-radius: 50px;
    padding: 0.2rem;
    width: 60%;
    text-align: center;
    font-family: var(--Nunito);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-top: 0.3rem;
}

.light .project-card-vertical .project-content .info time {
    background-color: black;
    color: white;
}

.dark .project-card-vertical .project-content .info time {
    background-color: white;
    color: black;
   
}

.project-card-vertical .project-content .info p {
    font-family: var(--Nunito);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 90%;
    margin-top: 0.8rem;

}

.light .project-card-vertical .project-content .info p {
    color: var(--gray);
}

.dark .project-card-vertical .project-content .info p {
    color: var(--grayD9);
}
/***************************
   Technologies
**************************/
.project-card-vertical .project-content .info .technologies {
    width: 60%;
    height: 44px;
  
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1rem;
    border-bottom-right-radius: 250px;
    border-top-left-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
}

.light .project-card-vertical .project-content .info .technologies {
    background-color: black;
}

.dark .project-card-vertical .project-content .info .technologies {
    background-color: white;
}

.project-card-vertical .project-content .info .technologies .technologie {
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    border: 3px solid var(--dark0F);
    overflow: hidden;
    
}

.project-card-vertical .project-content .info .technologies .technologie img {
    object-fit: contain;
    object-position: center;
    padding: 0.3rem;
    width: 100%;
    height: 100%;
}

.project-card-vertical .project-content .info .technologies .technologie.more {
    background-color: var(--whiteF5) !important;
    color: black !important;
}

/*************************
    Hover
*************************/
.project-card-vertical:hover {
    opacity: 1;
    transform: scale(1.045);
}

.light .project-card-vertical:hover .project-content .info {
    background-color: var(--whiteF5);
}

.dark .project-card-vertical:hover .project-content .info {
    background-color: black;
}

/***************************
   Active
**************************/

.splide__slide.is-active .project-card-vertical {

}

.splide__slide.is-active .project-card-vertical .img_content {
    height: 40%;
}
.splide__slide.is-active .project-card-vertical .img_content img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.splide__slide.is-active .project-card-vertical .project-content .info {
    clip-path: polygon(0% 0%, 100% 14%, 100% 100%, 0% 100%);
}

.splide__slide.is-active  .project-card-vertical .project-content {
    margin: -28px 0 0 0;
    height: 60%;
}

.splide__slide.is-active  .project-card-vertical .project-content .info h1 {
    font-size: 28px;
    line-height: 32px;
    width: 79%;
    
}

.splide__slide.is-active  .project-card-vertical .project-content .info p {
    font-size: 16px;
    line-height: 20px;
    width: 95%;
    margin-top: 0.5rem;
}