

@media (max-width: 1183px) {
    .project-card { width: 48%; }
}


@media (max-width: 977px) {
    .project-card { width: 48%; }
}

@media (max-width: 675px) {
    .project-card { width: 80%; }
}

@media (max-width: 500px) {
    .project-card { width: 90%; height:200px; padding-bottom: 0;}
    .project-card .mask { padding: 0 0 0 1rem;}
    .project-card .mask .info { padding-bottom: 1rem; height: 100%;}
    .project-card .mask .info .title { width: 90%; font-size: 22px; line-height: 25px !important;}
    .project-card .mask .info .date { width: 70%; font-size: 16px;}
    .project-card .mask .info .description { 
        font-size: 14px;
    }

    .project-card:hover .mask .info .description {
        grid-template-rows: 1fr;
        padding: 1rem 0rem 0rem 0rem;
    }
    
    .project-card .mask .technologies { 
        position: absolute;
        bottom: none;
        top: 0px;
        right: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        width: 50%;
    }

    .project-card .mask .technologies .technologie {
        width: 30px;
        height: 30px;
        font-size: 16px;
        font-weight: normal;
        border: 2px solid var(--dark1F2);
    }
}