
.project-card-vertical {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    z-index: 3;
    border-radius: 35px;
}

.project-card-vertical:hover {
    opacity: 1;
}

.project-card-vertical.light:hover .card-info .card-info-container {
    background-color: var(--grayD9) !important;
}

.project-card-vertical.dark:hover .card-info .card-info-container {
    background-color: var(--dark1E) !important;
}

/***************************
    Image
**************************/
.project-card-vertical .card-image {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: black;
    height: 100%;
    width: 40%;
    overflow: hidden;
    filter: drop-shadow(var(--shadow));
}

.project-card-vertical.dark .card-image {
    filter: drop-shadow(var(--shadow-bright-sm));
}

.project-card-vertical.light .card-image {
    filter: drop-shadow(var(--shadow));
}

.project-card-vertical .card-image img {
    clip-path: polygon(0% 0%, 100% 0%, 68% 100%, 0% 100%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    background-color: black;
 
}

/***************************
    Info Container
**************************/
.project-card-vertical .card-info {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
    height: 100%;
    width: 60%;
    overflow: hidden;
    margin-left: -11.3%;
}

.project-card-vertical.light .card-info {
    filter: drop-shadow(var(--shadow));
}
.project-card-vertical.dark .card-info {
    filter: drop-shadow(var(--shadow-bright-sm));
}

.project-card-vertical .card-info .card-info-container {
    clip-path: polygon(21.2% 0%, 100% 0%, 100% 100%, 0% 99.8%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: background-color 500ms ease-in-out;
}

.project-card-vertical.light .card-info .card-info-container {
    background-color: white;
}

.project-card-vertical.dark .card-info .card-info-container {
    background-color: black;
}

/***************************
    Info
**************************/
.project-card-vertical .card-info .card-info-container .info {
    height: 100%;
    width: 79%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    position: relative;
}

.project-card-vertical .card-info .card-info-container .info h2 {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0.1em;
    width: 84%;
}

.project-card-vertical .card-info .card-info-container .info time {
    padding: 0.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-radius: 35px;

    font-family: var(--Nunito);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
  
}

.project-card-vertical.light .card-info .card-info-container .info time {
    color: white;
    background-color: black;
}
.project-card-vertical.dark .card-info .card-info-container .info time {
    color: black;
    background-color: white;
}

.project-card-vertical .card-info .card-info-container .info p {    
    font-family: var(--Nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
   
    width: 80%;
}

.project-card-vertical.light .card-info .card-info-container .info p {
    color: var(--dark37);
}

.project-card-vertical.dark .card-info .card-info-container .info p {
    color: var(--whiteF5);
}

/***************************
   Technologies
**************************/
.project-card-vertical .card-info .card-info-container .info .technologies {
    position:absolute;
    bottom: 14px;
    right: 14px;
    display:flex;
    justify-content: flex-end;

}

.project-card-vertical .card-info .card-info-container .info .technologies .technologie {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    top: -35px !important;
    border: 3px solid var(--dark0F);
    overflow: hidden;
    
}

.project-card-vertical .card-info .card-info-container .info .technologies .technologie img {
    object-fit: contain;
    object-position: center;
    padding: 0.3rem;
    width: 100%;
    height: 100%;
}

.project-card-vertical .card-info .card-info-container .info .technologies .technologie.more {
    background-color: var(--whiteF5) !important;
    color: black !important;
}