

.project-detail-page {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 
        minmax(500px, auto)
        auto
        auto
        auto
        minmax(500px, auto)
    ;

    grid-template-areas: 
        "hero"
        "about"
        "technologies"
        "references"
        "other_projects"
    ;

}