
@media(max-width: 990px){

    .home-page .about {
        padding-top: 4rem;
    }

    .home-page .about .content .user--image {
        justify-content: center;
    }

    .home-page .about .content .content--info .title {
        margin-bottom: 1rem;
    }

    .home-page .about .content .content--info .title h2 {
        font-size: 26px;
        line-height: 35px;
    }
    
    .home-page .about .content .content--info .title p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.07em;
        color: var(--dark37);
        width: 90%;
    }
    

    /********************************************
        Interest
    *********************************************/

    .home-page .about .content .content--info {
        justify-content: center;
       
    }

    .home-page .about .content .content--info .interests h2 {
        font-size: 16px;
    }

    .home-page .about .content .content--info .interests p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.07em;
        color: var(--dark37);
        width: 90%;
        margin-bottom: 1.5rem;
    }

    .home-page .about .content .content--info .interests .list .list--item .icon {
        height: 36px;
        width: 36px;
        font-size: 20px;
    }

    /********************************************
        See More Btn
    *********************************************/

    .home-page .about .content .content--info .interests .btn-see-more {
        margin-top: 1.5rem;
        height: 46px;
        width: 150px;
        font-size: 14px;
        line-height: 16px;
    }
}


@media (max-width: 660px){

    .home-page .about-movil {
        grid-area: about;
        display:flex;
        justify-content: center;
        height: 700px;
        padding-top: 0rem;
    }

    .home-page.light .about-movil {
        background-color: var(--whiteF5);
    }
    
    .home-page.dark .about-movil {
        background-color: var(--dark0F);
    }

    .home-page .about-movil .content {
        width: 100%;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 
            minmax(30%, auto) 
            minmax(70%, auto)
        ;
        grid-template-areas: 
            "title title"
            "user--image interests"
        ;
    }

    /**************************************
        Title
    ***************************************/

    .home-page .about-movil .content .title {
        grid-area: title;
        padding: 0 0 0 4rem;
  
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .home-page .about-movil .content .title h2 {
        font-family: var(--Roboto);
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
        margin-bottom: 1rem;
    }

    .home-page .about-movil .content .title p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.07em;
        color: var(--dark37);
        width: 80%;
    }

    .home-page.dark .about-movil .content .title p {
        color: var(--whiteF5);
    }

    .home-page .about-movil .content .user--image {
        grid-area: user--image;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    /**************************************
        Interests
    ***************************************/

    .home-page .about-movil .content .interests {
        grid-area: interests;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 1rem;
        z-index: 2;
   
    }
    
    .home-page .about-movil .content .interests h2 {
        font-family: var(--Roboto);
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.2em;
        margin-bottom: 1rem;
    }

    .home-page .about-movil .content .interests p {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.07em;
        color: var(--dark37);
        width: 90%;
        margin-bottom: 1rem;
    }

    .home-page.dark .about-movil .content .interests p {
        color: var(--whiteF5);
    }
    
    .home-page .about-movil .content .interests .list {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
    
    .home-page .about-movil .content .interests .list .list--item {
        display:flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-start;
    }
    
    .home-page .about-movil .content .interests .list .list--item h3 {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2em;
    }
    
    .home-page .about-movil .content .interests .list .list--item .icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-page.dark .about-movil .content .interests .list .list--item .icon {
        border: 1px solid var(--dark37);
    }

    /********************************************
        See More Btn
    *********************************************/

    .home-page .about-movil .content .interests .btn-see-more {
        margin-top: 2rem;
        height: 45px;
        width: 150px;
        font-size: 16px;
        line-height: 16px;
    }
}


@media (max-width: 530px) {

    .home-page .about-movil {
        grid-area: about;
        display:flex;
        justify-content: center;
        height: auto;
        padding-top: 0rem;
    }
    
    .home-page .about-movil .content {
        width: 100%;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 
            minmax(250px, auto) 
            minmax(300px, auto)
            minmax(400px, auto)
        ;
        grid-template-areas: 
            "title"
            "user--image" 
            "interests"
        ;
    }

    .home-page .about-movil .content .interests {
        grid-area: interests;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 4rem 0 0 1rem;
        z-index: 2;
    }

    .home-page .about-movil .content .user--image {
        grid-area: user--image;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }


    .home-page .about-movil .content .title {
        padding-left: 1rem;
    }

    .home-page .about-movil .content .title p,
    .home-page .about-movil .content .interests p {
        width: 90%;
    }
    .home-page .about-movil .content .interests p {
        margin-bottom: 2rem;
    }

    .home-page .about-movil .content .interests .list .list--item h3 {
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.2em;
    }

    .home-page .about-movil .content .interests .list .list--item .icon {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-page .about-movil .content .interests .btn-see-more {
        align-self: center;
    }
    
}