


.home-page {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 
        auto /* hero */
        minmax(50vh, auto) /* about */ 
        minmax(100vh, max-content) /* portfolio */
        minmax(100vh, max-content)  /* textimonials */
        minmax(110vh, auto) /* contact */
    ;
    grid-template-areas: 
        "hero"
        "about"
        "portfolio"
        "testimonials"
        "contact"
    ;
}



@media (max-width: 600px){
    .home-page {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 
            auto
            auto
            minmax(100vh, auto) 
            minmax(70vh, auto) 
            minmax(110vh, auto);
        grid-template-areas: 
            "hero"
            "about"
            "portfolio"
            "testimonials"
            "contact"
        ;
    }
}

