@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
   
    /* --dark:rgb(6, 24, 34);
    --darker:rgb(2, 9, 12);
    --night: #444E5C;
    --night-darker: rgba(0,0,0,.2);
    --midnight:#303A52;
    --midnight-light:#39445F; 

    --gray:rgb(162, 167, 170);
    */

    --dark0F: #0f0f0f;
    --dark1E: #1E1E1E;
    --dark11: #111827;
    --dark1F2: #1f2937;
    --dark37: #374151;
    --dark3A : #3a3939;

    --gray: #808080;
    --grayDE: #ded9d9;
    --grayD9: #d9d9d9;
    --grayE5: #e5e7eb;
    --gray-light:#eceff0;
    --gray-loyal:#abb2bf;

    --whiteF5: #f5f5f5;
    --whiteFC: #fcfcfd;
    --whiteEE: #eeeff1;
    --pure: white;

    --blue:#75c0e0;
    --blue-royal:#194a8d;
    --blue-royal-dark:#10305c;
    --yellow:#fecf6a;
    --green:#27AE60 ;
    --green-leaf:#71AE21;
    --wine:rgb(247, 10, 61);
    --red: #E11D48;
    
    --night-gradient: linear-gradient(90deg, rgba(14,43,55,1) 0%, rgba(8,32,42,1) 12%, rgba(11,11,11,1) 100%);
    --orange-gradient: linear-gradient(90deg, rgba(251,225,141,1) 0%, rgba(254,151,0,1) 64%, rgba(238,141,0,1) 99%);
    --card-mask-gradient-vertical: linear-gradient(180deg, rgba(254, 249, 249, 0) 0%, rgba(134, 131, 131, 0.614583) 39.58%, #1F2937 100%);
    --card-mask-gradient-horizontal:  linear-gradient(270deg, rgba(254, 249, 249, 0) 27.27%, rgba(134, 131, 131, 0.614583) 53.57%, #1F2937 95.35%);
    --white-fade-gradient: linear-gradient( 99.6deg, rgba(255,255,255,1) 39.9%, rgba(66,4,151,0) 110.9% );
    
    --shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    --shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    --shadow-lg: 0 1rem 3rem rgba(0,0,0, .175) !important;
    --shadow-bright: 0px 0px 20px 1px #666;
    --shadow-bright-low: 0px 0.5rem 1rem 1px #666;
    --shadow-bright-lg: 0 1rem 3rem #666 !important;
    --shadow-bright-sm: 0 .5rem 1rem #666 !important;
    --shadow-card: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    --shadow-card-2: 0.1rem 0.5rem 1rem rgba(0,0,0,.15)!important;;
    --text-shadow:0px 0px 3px black;
    
    --mask: rgba(41, 41, 41, 0.9);

    --happy-monkey: 'Happy Monkey', cursive;
    --great-vibes: 'Great Vibes', cursive;
    --Nunito: 'Nunito', sans-serif;
    --Roboto: 'Roboto Slab', serif;
}


/********************************
    Elements Reset
********************************/

* {
    box-sizing: border-box;
    outline: none;
    margin:0 ;
    padding:0 ;
    border:none;
    text-decoration: none;
    color: inherit;
}

html {
  background-color: white;
  scroll-behavior: smooth;
}

a, button {
  transition: opacity 200ms ease-in;
}

a:hover,
button:hover {
    opacity: 0.6;
}

ul { list-style: none;} 

::-webkit-scrollbar-thumb {
  background: var(--pure) !important;
  border-radius: 50px;
  border: 2px solid black;
}

::-webkit-scrollbar {
    width: 10px;
    padding:0 3px 3px 10px !important;
    z-index: 10;
    background-color: black;
}

::-webkit-scrollbar-button {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

small {
  font-size: 16px;
}

span {
  font-size: 14px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

/********************************
    Others
********************************/

.d-none { display:none !important; }

.color-orange { color: #EA712E; }
.color-blue { color: #4692DD; }
.color-yellow { color: #F8E913; }
.color-react { color: #61DBFB;}
.color-purple { color: #9933CC; }

.d-block { display: block !important; }
.d-none { display: none !important; }
.d-flex { display: flex !important; }

.bg-black { background-color: black; }


/******************************************
  Text-underline
*******************************************/
.underline {
  width: 80px;
  height: 12px;
  border-radius: 50px;
  position: relative;
  margin-top: 0.7rem;
}

.underline:after {
  content: " ";
  height: 12px;
  width: 12px;
  position: absolute;
  top:0;
  right: -20px;
  border-radius: 50%;
}

.dark .underline:after,
.dark .underline {
  background-color: white;
}

.light .underline:after,
.light .underline {
  background-color: black;
}

/******************************************
  Page Fade
*******************************************/
.pageFade {
  opacity:0;
  animation: fadeIntroPage  1s ease-in;
  animation-fill-mode: forwards;
}


/******************************************
  General Wave
*******************************************/
.general-wave {
  width: 100%;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 
      100px
      100px
  ;
  grid-template-areas: 
      "blank_space"
      "featured_project_wave"
  ;
  z-index: 1;
  pointer-events: none;
  position: relative;
}

.general-wave.reverse  {
 transform: rotate(180deg);
}

.general-wave .t-wave {
  grid-area: featured_project_wave;
  display:flex;
  align-items: flex-end;
  z-index: 1;

}

.general-wave .t-wave > * {
  width: 100%;
}

.general-wave .t-space {
  grid-area: blank_space;
  background-color: transparent;
}


/******************************************
  Button Style
*******************************************/
.btn {
  transition-delay: 400ms !important;
  transition: background-color 1s ease-in-out, color 500ms ease-in-out;
}

.dark .btn {
  background-color: var(--grayDE) !important;
  color: var(--dark1E) !important;
}

/******************************************
  Container
*******************************************/
.grid-container {
  width:  960px;
  margin: 0 auto;
}


/******************************************
  Card
*******************************************/
.prueba_card {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor:pointer;
}

.prueba_card .img_content {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 100%;
  height: 40%;
  filter: drop-shadow(var(--shadow)) !important;
  overflow: hidden;
}

.prueba_card .img_content img {
  width: 100%;
  height: 100%;
  background-color: black;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);
  object-fit: cover;
  object-position: center;
}

.prueba_card .prueba_content {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  margin: -30px 0 0 0;
  width: 100%;
  height: 60%;
  filter: drop-shadow(var(--shadow)) !important;
}

.prueba_card .prueba_content .info {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0 1rem 1rem;
  background-color: var(--pure);
  clip-path: polygon(0% 0%, 100% 18%, 100% 100%, 0% 100%);
  position: relative;
}

.prueba_card .prueba_content .info h1 {
  font-family: var(--Roboto);
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  width: 72%;
}

.prueba_card .prueba_content .info time {
  border-radius: 50px;
  padding: 0.2rem;
  background-color: black;
  color: white;
  width: 50%;
  text-align: center;
  font-family: var(--Nunito);
  font-size: 12px;
  margin-top: 0.3rem;
}

.prueba_card .prueba_content .info p {
  font-family: var(--Nunito);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 90%;
  margin-top: 0.8rem;
  color: var(--gray);
}

.prueba_card .prueba_content .info .technologies {
  width: 56%;
  height: 44px;
  background-color: black;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 1rem;
  border-bottom-right-radius: 250px;
  border-top-left-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;
}

.prueba_card .prueba_content .info .technologies .item {
    width: 30px;
    height: 30px;
    background-color: var(--gray);
    border-radius: 50%;
}


.card-container {
  /* width: 280px !important;
  height: 400px !important; */
  border-radius: 35px;
  width: 320px !important;
  height: 450px !important;
}