


.wave {
    display:flex;
    align-items: flex-end;
    margin-bottom: -1%;
}

.wave svg {
    width: 100%;
    /* transition: fill 10ms ease-in-out;
    transition-delay: 15ms; */
}

/* 
.dark .wave svg {
    transition: fill 0.345s ease-in-out;
} */

.wave.reverse {
    transform: rotate(180deg);
}


/*********************
    Wave White
**********************/
.wave.white svg {
    fill: white !important;
}

.wave.white.dark svg {
    fill: var(--dark1E) !important;
}

/*********************
    Wave Black
**********************/
.wave.black svg {
    fill: black !important;
}

/*********************
    Wave Gray
**********************/

.wave.gray svg {
    fill: var(--whiteF5) !important;
}

.wave.gray.dark svg {
    fill: var(--dark0F)  !important;
}

.wave.whiteEE svg {
    fill: var(--whiteEE) !important;
}

.wave.whiteEE.dark svg {
    fill: var(--dark0F)  !important;
}


/******************************************
  General Wave
*******************************************/
.general-wave {
    width: 100%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 
        100px
        100px
    ;
    grid-template-areas: 
        "blank_space"
        "featured_project_wave"
    ;
    z-index: 1;
    pointer-events: none;
    position: relative;
}
  
.general-wave.reverse  {
    transform: rotate(180deg);
}

.general-wave .t-wave {
    grid-area: featured_project_wave;
    display:flex;
    align-items: flex-end;
    z-index: 1;
}

.general-wave .t-wave > * {
    width: 100%;
}

.general-wave.reverse .t-wave .wave.light svg {
    transition: fill 10ms ease-in-out;
    transition-delay: 5.9ms;
}

.general-wave.reverse .t-wave .wave.dark svg {
    transition: fill 0.3s ease-in-out;
    transition-delay: 2ms;
}


.general-wave .t-space {
    grid-area: blank_space;
    background-color: transparent;
}

@media (min-width: 1900px) {
    .general-wave {
        grid-template-rows: 
            100px
            auto
        !important;
    }
}
  