


.wave {
    display:flex;
    align-items: flex-end;
    margin-bottom: -1%;
}

.wave svg {
    width: 100%;
}

.wave.reverse {
    transform: rotate(180deg);
}

/*********************
    Wave White
**********************/
.wave.white svg {
    fill: white !important;
}

.wave.white.dark svg {
    fill: var(--dark1E) !important;
}

/*********************
    Wave Black
**********************/
.wave.black svg {
    fill: black !important;
}

/*********************
    Wave Gray
**********************/

.wave.gray svg {
    fill: var(--whiteF5) !important;
}

.wave.gray.dark svg {
    fill: var(--dark0F)  !important;
}


.wave.whiteEE svg {
    fill: var(--whiteEE) !important;
}

.wave.whiteEE.dark svg {
    fill: var(--dark0F)  !important;
}