

.splide__list.carousel-config {
   align-items: center;
   background-color: transparent !important;
   padding: 2rem 0 !important;

}

.splide__list.carousel-config * {
    background-color: transparent;
}

.splide__track {
    height: 650px !important;
    background-color: transparent !important;
}

.splide__pagination__page {
    height: 13px !important;
    width: 13px !important;
    background-color: var(--grayD9);
}

.splide__pagination__page.is-active {
    background-color: var(--dark37) !important;
    opacity:1;
}

.splide__pagination {
    
} 




.splide__arrow.splide__arrow--next,
.splide__arrow.splide__arrow--prev {
    padding:0 !important;
    font-size: 40px;
    height: 40px;
    width: 40px;
    box-shadow: var(--shadow-bright);
    color: white;
    background:black;
}

@media (max-width: 600px){

    /* .splide__slide {
        width: 250px !important;
        height: 320px;
        border-radius: 35px;
    } */

   
}