
.project-page {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:
        344px
        auto
        auto
    ;

    grid-template-areas: 
        "header"
        "featured__projects"
        "other__projects"
    ;
  
}