

.project-detail-page .other-projects {
    grid-area: other_projects;
  
}

.project-detail-page.light .other-projects {
    background-color: var(--whiteF5);
}

.project-detail-page.dark .other-projects {
    background-color: var(--dark0F);
}

.project-detail-page .other-projects .container {
    margin: 0 auto;
    width: 1100px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 
        150px
        minmax(350px, auto)
        minmax(100px, auto)
    ;
    grid-template-areas: 
        "header"
        "projects"
        "view__more"
    ;
}

.project-detail-page .other-projects .container .header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
   
}

.project-detail-page .other-projects .container .header h1 {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.1em;

}

.project-detail-page .other-projects .container .header .underline {
    margin-top: 0.4rem;
    width: 100px;
    height: 15px;

}

.project-detail-page .other-projects .container .header .underline:after {
    width: 15px;
    height: 15px;
    right: -22px;
 
}

.project-detail-page .other-projects .container .projects {
    grid-area: projects;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
} 

.project-detail-page .other-projects .container .view__more {
    grid-area: view__more;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
 
}


.project-detail-page .other-projects .container .view__more .btn-view-more {
    height: 44px;
    width: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--Nunito);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.3em;
    background-color: black;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: var(--shadow-bright-md);
}