
@media(max-width: 1180px) {

    .home-page .portfolio .content  {
        grid-template-rows: 
            130px
            auto
            50px
        ;
    }

    .home-page .portfolio .content .header {
        grid-area: header;
        display:flex;
        align-self: flex-end;
    }

    .home-page .portfolio .content .header .title {
        padding-left: 2.5rem;
    }

    .home-page .portfolio .content .projects {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .home-page .portfolio .content .projects .container {
        width: 90%;
        display:flex;
        justify-content: space-between;
    }

}


@media(max-width: 675px){
    .home-page .portfolio .content .projects .container {
        width: 90%;
        display:flex;
        justify-content: center !important;
    }

    .home-page .portfolio .content .header .title {
        padding-left: 2rem;
    }

    .home-page .portfolio .content .header .title h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
    }

    .home-page .portfolio .content .header .title p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    .home-page .portfolio .content .header .title .underline {
        width: 60px;
        height: 14px;
        border-radius: 50px;
        position: relative;
        margin-top: 0.2rem;
    }
    
    .home-page .portfolio .content .header .title .underline:after {
        content: " ";
        height: 14px;
        width: 14px;
        position: absolute;
        top:0;
        right: -18px;
        border-radius: 50%;
    }

    .home-page .portfolio .content .header .links {
        display:flex;
        align-items: center;
        gap: 2rem;
        padding-left: 1.5rem;
        padding-top: 0.51rem;
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
     
    }
}


@media(max-width: 420px) {


    .home-page .portfolio .content .header {
        grid-area: header;
        display:flex;
        align-self: flex-end;
    }

    .home-page .portfolio .content .header .title {
        padding-left: 1rem;
        width: 40%;
    }

    .home-page .portfolio .content .header .title h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    .home-page .portfolio .content .header .title p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .home-page .portfolio .content .header .title .underline {
        width: 60px;
        height: 14px;
        border-radius: 50px;
        position: relative;
        margin-top: 0.4rem;
    }
    
    .home-page .portfolio .content .header .title .underline:after {
        content: " ";
        height: 14px;
        width: 14px;
        position: absolute;
        top:0;
        right: -18px;
        border-radius: 50%;
    }

    .home-page .portfolio .content .header .links {
        display:flex;
        align-items: center;
        gap: 1rem;
        padding-left: 0.7rem;
        padding-top: 0.2rem;
        font-family: var(--Nunito);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.1em;
        width: 60%;
    }
}